<!DOCTYPE html>
<html lang="fr">
<head>
  <title>Fruit Identification AI</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
  .fakeimg {
    height: 200px;
    background: #aaa;
  }
  </style>
</head>
<body>

<div class="jumbotron text-center" style="margin-bottom:0">
  <h1>QuelFruit</h1>
  <h2>The Fruit Identification AI</h2>
  <p>This software uses YOLO object detection 
		to identify fruits you might find in the grocery store. With a simple thumbs up, 
		thumbs down gesture the customer can confirm the ID and print their barcode,
		saving them time and the need to touch a potentially dirty screen</p> 
</div>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">QuelFruit</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="#">About</a></li>
		<li class="active"><a href="#">Try It</a></li>
      	<li><a href="#">Under the Hood</a></li>
        <li><a href="#">Authors</a></li>
      </ul>
    </div>
  </div>
</nav>
