<!DOCTYPE html>
<html lang="en">
<head>
  <title>Fruit Identification AI</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="refresh" content="5;url=/" />
  <link rel="stylesheet" href="/static/bootstrap-3.3.7-dist/css/bootstrap.min.css">
  <script src="/static/js/jquery-3.5.1.min.js"></script>
  <script src="/static/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
  <style>
  .content {
    height: 200px;
    background: #2d7121;
  }
  </style>
</head>
<body>
 
<div id="header"></div> 

<div class="jumbotron text-center" style="margin-bottom:0">
  <h1>QuelFruit</h1>
  <h2>The Fruit Identification AI</h2>
  <p>This software uses YOLO object detection 
		to identify fruits you might find in the grocery store. With a simple thumbs up, 
		thumbs down gesture the customer can confirm the ID and print their barcode,
		saving them time and the need to touch a potentially dirty screen</p> 
</div>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="/quel_fruit">QuelFruit</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
		<li class="active"><a href="/">Try It</a></li>
      	<li><a href="/under_the_hood">Under the Hood</a></li>
        <li><a href="/authors">Authors</a></li>
        <li><a href="/thanks">Thanks</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="jumbotron text-center">
  <h1>Please wait while we print the ticket for your <b>{{predict}}</b></h1>
  <h2> Back to start page in 5 seconds ... </h2>
  <p>
</div>
